conda {
  conda.enabled = true
}

profiles {
  standard {
    process.executor = 'local'
  }
}

manifest {
  name = 'aneuploidy-addictions'
  defaultBranch = 'main'
  description = 'A script which conducts the computational analysis associated with the Sheltzer Lab\'s investigation into aneuploidy addictions.'
  nextflowVersion = '22.04+'
  author = 'Ryan A. Hagenson'
}
